.menu {
  position: relative;
}

.chef_item {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
  z-index: 10;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  border: 4px solid var(--brown-light);
}

.chef_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.menu_block__wrap {
  background: linear-gradient(rgba(247, 251, 246, 0.1)),
    url(/images/product-bg.png) left bottom no-repeat;
  background-size: contain;
  padding: 1rem 2rem;
  color: var(--brown-light);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 500px;
  border: var(--border);
}

.menu_block {
  margin: 0.5rem 0;
  border-bottom: 1px solid var(--p);
  padding: 0 2rem;

}

.menu_block h6 {
  color: var(--brown-light);
  font-weight: bold;
}

.menu_block small {
  color: #7a7575;
}

.menu_block strong {
  color: var(--brown-light);
}


.menu_section>div:nth-child(1) div,
.menu_section>div:nth-child(4) div {
  border-radius: 10px 100px 10px 100px;

}

.menu_section>div:nth-child(2) div,
.menu_section>div:nth-child(3) div {
  border-radius: 100px 10px 100px 10px;

}