

.about_container div video {
  max-height: 800px;
  width: 100%;
  object-fit: fill;
  border: var(--border);
  border-radius: 100px 100px 0 100px;
}


.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  color: var(--brown-light);
  font-size: 3rem;
  line-height: 1.2;
}

.content p {
  color:var(--p);
  font-size: 1.3rem;
  line-height: 1.4;
  padding: 1rem 0;
}

.icons_container {
  display: flex;
  gap: 1rem;
  padding-top: 6rem;
  justify-self: flex-end;
}

.icons {
  padding: 1rem;
  text-align: center;
  border-radius: 100px 100px 0 100px;
  border: var(--border);
  height: 150px;
  width: 200px;
}

.icons img {
  height: 3rem;
  width: 4rem;
}

.icons h3 {
  font-size: 1.5rem;
  padding-top: 1.3rem;
  color: var(--p);
}

.btn {
  display: inline-block;
  width: 200px;
  padding: .5rem 1.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  color:var(--green-dark);
  background: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.5rem;
  transition: all 400ms ease-in-out;
  color: var(--p);
}

.btn:hover {
  border-radius: var(--border-radius-hover);
  border: var(--border-hover);
}