.book {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.book form {
    border-radius: 100px 100px 0 100px;
    padding: 2rem;
    border: var(--border);
    width: 750px;
    z-index: 1000;
    margin-bottom: 3rem;
    background: linear-gradient(rgba(247, 251, 246, 0.1)),
        url(/images/product-bg.png) left bottom no-repeat;
}


.book form .box {
    width: 100%;
    padding: 0.3rem 1rem;
    border-radius: .5rem;
    background: none;
    text-transform: none;
    color: #7a7575;
    border: var(--border);
    margin: .8rem 0;
    background-color: #fff;

}

.book form .box:focus {
    border: var(--border-hover);
}

.book form textarea {
    height: 7rem;
    resize: none;
}

.btn {
    border: var(--border);
    border-radius: var(--border-radius);
    transition: all 400ms ease-in-out;
    padding: 1rem;
    background-color: #fff;
    color: #7a7575;
    font-weight: bold;
}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}