.transparentCard {
    padding: 1rem !important;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(15px);
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35),
        inset 0 1px 0 rgba(255, 255, 255, 0.08);
    ;
}

.transparentCard form div input,
.transparentCard form div textarea,
.transparentCard form div select {
    width: 100%;
    border: 2px solid var(--green-olive);
    padding: 0.5rem;
    background-color: inherit;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35),
        inset 0 1px 0 rgba(255, 255, 255, 0.08);
    ;
}

.transparentCard form div label {
    font-weight: bold;
    color: #fff;
    background-color: var(--green-olive);
    border-radius: 0 12px 0 12px !important;
    padding: 0.3rem 0.5rem;
}