.product_item {
    cursor: pointer;
    max-width: 300px;
    width: 250px;
    height: 300px;
    margin: 3rem 1rem;
}

.img_container {
    width: 100%;
    transition: all 250ms ease-out;
    position: relative;
    border-radius: 20px;
    height: 100%;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1rem;
    display: block;
    border-radius: inherit;
}

.details_container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), var(--brown-light));
    padding: 1rem;

}

.img_container:hover {
    transform: scale(1.02);
}

.img_container:hover .details_container {
    opacity: 1;
}

.img_container:hover+.info_container {
    opacity: 0;

}

.icons svg {
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
}

.icons {
    color: #fff;
    transition: all 0.25s ease;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details_container button,
.favorite {
    cursor: pointer;
    padding: 0.4rem 0.7rem;
    bottom: 0;
    transition: all 0.25s ease;
    z-index: 3;
    background: transparent;
    color: #000;
    width: max-content;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-bottom: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: #fff;
}

.details_container button:hover,
.favorite:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

.icons a,
.icons div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4px;
}

.tooltip {
    font-size: 10px !important;
    align-items: center;
    opacity: 0;
    background-color: var(--brown-light);
    color: #fff;
    text-align: center;
    padding: 0 12px;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 13px;
    line-height: 34px;
    position: relative;
    border: var(--border);
    border-radius: var(--border-radius);
}

.icons a:hover .tooltip,
.icons div:hover .tooltip {
    opacity: 1;
}

.info_container {
    border: 1px solid var(--brown-light);
    position: absolute;
    border-radius: 100px 100px 0 100px;
    bottom: 110px;
    transition: all 700ms ease-out;
    z-index: 2;
    left: -15px;
    height: 165px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    text-align: center;
    background-color: var(--brown-light);
    box-shadow: 3px 10px 30px rgba(3, 30, 1, 0.2);
    color: #fff;
}

.title_info {
    font-weight: bold;
    color: #fff;
    font-size: 1.2rem;
}