.site_footer {
  background: linear-gradient(rgba(247, 251, 246, 0.1)),
    url(/images/product-bg.png) left bottom no-repeat;
  padding: 50px 0;
}

.site_footer strong {
  color: #fff;
}

.site_footer p,
.site_footer__link {
  color: #fff;
  font-size: 1.2rem;
}

.site_footer__link {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.site_footer__link:hover {
  color: #ffff;
  text-decoration: underline;
}

.social_icon {
  margin: 0;
  padding: 0;
}

.social_icon__item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social_icon__item svg {
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.2rem;
  display: block;
  margin: 0 5px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 35px;
  color: var(--brown-light) !important;
  transition: all 0.2s, color 0.2s;
  cursor: pointer;
}

.social_icon__item svg:hover {
  background: #fff;
  color: var(--green-olive);
}

.social_icon__item span {
  display: block;
}