.pagination_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.page {
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 0 12px 0 12px;
    cursor: pointer;
    background-color: #dad7d7ee;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.page a {
    color: #fff;
}

.page.active {
    background-color: var(--brown-light);
    color: #ffff;
}