.card_body {
  background: linear-gradient(rgba(247, 251, 246, 0.1)),
    url(/images/product-bg.png) left bottom no-repeat;
  background-size: cover;
  padding: 2rem 3rem;
}

.card_body h5 {
  color: var(--brown-light);
  font-weight: bold;
  margin-bottom: 2rem;
}


.btn {
  display: inline-block;
  width: 200px;
  background-color: #fff;
  padding: .5rem 1.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  font-weight: bold;
  color: var(--brown-light);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.2rem;
  transition: all 400ms ease-in-out;
}

.btn:hover {
  border-radius: var(--border-radius-hover);
  border: var(--border-hover);
}