.title {
    padding: 0.5rem 1rem;
    color:#fff;
    background-color:var(--brown-light);
    border-radius: 10px;
    font-style: italic;
}

.card {
    padding: 0.2rem 1rem;
    border: 3px solid var(--brown-light);
    background-color: #eee;
    margin: 1rem 0;
    border-radius: 10px;
}

.card div span {
    color: var(--brown-light);
    font-size: 1.2rem;
}

.stars {
  display: flex;
  gap: 4px;
  color: var(--brown-light);
  margin-left: 2rem;
}
