.basket {
    padding: 1rem !important;
    overflow: hidden;
    max-height: 500px;
    border-radius: 70px 0 70px 0;
    background: linear-gradient(rgba(247, 251, 246, 0.1)),
        url(/images/product-bg.png) left bottom no-repeat;
}

.btn_increase,
.btn_decrease {
    border: none;
    background-color: inherit;
    color: #fff;
    width: 50px;
    background-color: var(--green-olive);
}

.price {
    width: 50px;
    text-align: center;
    color: #fff;
}

.address {
    background-color: var(--brown-light);
    padding: 1rem;
    color: #fff;
    border-radius: 10px;
}

.address textarea {
    background-color: #fff;
    border: none;
    height: 200px;
}

.order_summary {
    background-color: var(--brown-light);
    padding: 1rem;
    color: #fff;
    border-radius: 10px;
}


.btn {
    width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: all 400ms ease-in-out;
    padding: 0.5rem 0;
    background-color: #fff;
    color: var(--p);
}

.apply_btn {
    background-color: #eee;
    color: var(--brown-light);
    font-weight: bold;
    border: none;
    border-left: 4px solid var(--background);
    border-right: 3px solid var(--background);

}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

.remove_item {
    font-size: 1.4rem;
    margin-left: 1rem;
    color: var(--red-berry);
    cursor: pointer;
}