.baristas_grid {
    padding: 4rem;
    display: grid;
    height: 500px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;

}

.baristas_grid::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 300px;
    left: 0;
    background: linear-gradient(rgba(247, 251, 246, 0.1)),
        url(/images/product-bg.png) left bottom no-repeat;
    z-index: -1;
}

.team_block__wrap {
    position: relative;
    overflow: hidden;
    border-radius: 100px 100px 0 100px;
    cursor: pointer;
    height: 100%;
    border: 2px solid var(--brown-light);
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.8);
}

.team_block__wrap::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(ellipse at center,
            rgba(0, 70, 35, 0.2) 50%,
            rgba(0, 70, 35, 0.1) 100%);
    pointer-events: none;
}

.team_block__wrap:hover {
    transform: scale(1.05);
}

.team_block_image__wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 100%;
}

.team_block__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
    transform: scale(1);

}

.team_block__wrap::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    pointer-events: none;
}

.team_block__info {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), var(--brown-light));
    padding: 1rem;
    color: #fff;

}

.team_block__wrap:hover .team_block__info {
    opacity: 1;
}

.team_block__wrap:hover .team_block__image {
    transform: scale(1.1);
}

.badge {
    background-color: var(--brown-light);
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.3rem;
    margin-left: 0.5rem;
}

.team_block__info h4 {
    margin: 0;
    font-size: 1.2rem;
}

.team_block__info p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}