@font-face {
  font-family: 'Roboto';
  src: url("/public/fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-regular';
  src: url("/public/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto-medium';
  src: url("/public/fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto-bold';
  src: url("/public/fonts/Roboto-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --green-olive: #8BA17D;
  --brown-light: #BFA37C;
  --background: #013220;
  --p: #7a7575;
  --red-berry: #B03A2E;
  --body-font-family: 'Roboto-regular', sans-serif;
  --border-radius: 24px 48px 32px 56px;
  --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
  --border: .2rem solid var(--brown-light);
  --border-hover: .2rem dashed var(--brown-light);

}


html,
body {
  max-width: 100vw;
  max-height: 100vh;
  scroll-behavior: unset;
}


body {
  background-color: var(--background) !important;
  font-family: var(--body-font-family) !important;
  position: relative;
}

a {
  text-decoration: none !important;
}

section {
  margin-bottom: 18rem;
  margin-top: 5rem;

}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,
      var(--brown-light));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--brown-light);
}


.header {
  background-color: var(--brown-light);
  color: #fff;
  padding: 60px 0;
  text-align: center;
  margin: 5rem 0;
}

.contact_header h1 {
  margin: 0;
  font-weight: bold;
}

.heading {
  font-size: 5rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.05rem var(--brown-light);
  letter-spacing: 0.1rem;
  text-align: center;
  pointer-events: none;
  position: relative;
  margin-bottom: 5rem;
}

.heading span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  -webkit-text-stroke: 0.05rem var(--brown-light);
  color: var(--brown-light);
  font-size: 2rem;
  z-index: 1000;
}

.button,
.buttonVisible {
  position: fixed;
  bottom: 2rem;
  left: 1rem;
  border-radius: 100%;
  background: var(--brown-light);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  opacity: 0;
  padding: 0.7rem 0.8rem 0rem;
  transition-duration: 200ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonVisible {
  opacity: 1 !important;
}


.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.fw-medium {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-black {
  font-weight: 900;
}


/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


.swiper {
  width: 100%;
  margin-bottom: 20px;
}

.swiper .swiper-scrollbar {
  background: rgba(0, 0, 0, 0.1) !important;
  height: 8px !important;
  border-radius: 4px !important;
}


.swiper .swiper-scrollbar-drag {
  background: var(--brown-light) !important;
  border-radius: 4px !important;
}


.navigation_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}

.prevBtn,
.nextBtn {
  border: none;
  color: white;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0 12px 0 12px;
  transition: transform 0.2s, background 0.2s;
  background-color: var(--brown-light);

}

.prevBtn:hover,
.nextBtn:hover {
  transform: scale(1.1);
}


/* Product images */
.swiper-slide img,
.col-md-6>img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 100%;

}


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.main-swiper .swiper-slide {
  height: 600px;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .swiper {
    height: 300px;
  }
}

/* RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 62px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }



  .hero-section {
    padding-top: 148px;
    padding-bottom: 100px;
  }

  .navbar-brand,
  .navbar-brand:hover {
    font-size: var(--h5-font-size);
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin-bottom: 0;
  }

  .navbar .custom-btn {
    margin-bottom: 10px;
  }

  .booking-form {
    padding: 45px;
  }


  .site-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 12px 20px;
  }

  .menu-block-wrap,
  .reviews-block-image-wrap,
  .reviews-block-info {
    padding: 20px;
  }
}


@media screen and (max-width: 578px) {

  .navbar .container,
  .sticky-wrapper.is-sticky .container {
    margin-right: 10px;
    margin-left: 10px;
  }
}


@media screen and (max-width: 480px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  .hero-section::after {
    width: 200px;
    height: 200px;
  }

  .booking-form {
    padding: 35px;
  }

  .opening-hours-list li {
    font-size: 12px;
  }

  .reviews-block-image-wrap {
    flex-direction: column;
  }

  .reviews-block-image {
    margin-bottom: 15px;
  }
}


/* Override Bootstrap Class */
.card {
  border: none !important;
  border-radius: 0.7rem;
}

.card-header {
  padding: 1rem;
  background-color: #fff;
  border-bottom: none;
}

.card-header:first-child {
  border-radius: 0.7rem;
}

.breadcrumb a {
  color: var(--green-dark);
  text-decoration: none;
}


.number {
  border-radius: 0 12px 0 12px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brown-light);
  font-weight: bold;
  width: 20px;
  height: 30px;
}

.number span {
  color: #fff;
}

.btn {
  display: flex !important;
  font-weight: bold;
  gap: 0.5rem;
}

.remove,
.edit,
.classic {
  padding: 0.5rem 0.7rem;
  border-radius: 0 12px 0 12px;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.remove {
  background-color: #B03A2E;
}

.edit {
  background-color: var(--green-olive);
}

.classic {
  background-color: #BFA37C;
}


.hamburger_input {
  display: none;
}


.hamburger {
  position: fixed;
  top: 5px;
  left: 250px;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 1000;
}

.hamburger span,
.hamburger span::before,
.hamburger span::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--brown-light);
  transition: 0.3s;
  content: "";
  transition: all 250ms ease-out;
}

.hamburger span {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger span::before {
  top: -10px;
}

.hamburger span::after {
  top: 10px;
}

.hamburger_input:checked+.hamburger span {
  background: transparent;
}

.hamburger_input:checked+.hamburger span::before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger_input:checked+.hamburger {
  left: 0;
  top: 2px;
}

.hamburger_input:checked+.hamburger span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* Sidebar */
.sidebar:hover {
  overflow-y: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  min-height: 700px;
  background-color: var(--background);
  padding-top: 3rem;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  color: #fff;
  transition: all 400ms ease;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.menu_wrapper {
  overflow-x: hidden;
}

.content {
  min-height: 100vh;
  transition: transform 0.3s ease;
  padding: 0.5rem 2.5rem;
  background: linear-gradient(rgba(247, 251, 246, 0.1)),
    url(/images/product-bg.png) left bottom no-repeat;
  background-size: contain;
  min-height: 100vh;
  width: 1290px;
  transition: transform 0.3s ease;
  margin-left: 15rem;
}

.hamburger_input:checked~.sidebar {
  transform: translateX(-250px);
}

.hamburger_input:checked~.content {
  width: 100% !important;
  transform: translateX(-240px);
  overflow: hidden !important;
}

/* tiptap base */
.ProseMirror {
  min-height: 200px;
  padding: 1rem;
  border-radius: 12px;
  outline: none;
  color: #022c09;
  background: inherit;
  backdrop-filter: blur(12px);
  border: 1px solid var(--green-olive);
}


/* headings */
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3 {
  color: #022c09;
  font-weight: bold;
}

/* paragraph */
.ProseMirror p {
  margin-bottom: 0.75rem;
}

/* lists */
.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.5rem;
}

/* blockquote */
.ProseMirror blockquote {
  border-left: 3px solid var(--green-olive);
  padding-left: 1rem;
  opacity: 0.85;
}


.transparentCard {
  padding: 2rem !important;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(15px);
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
  background-color: #fff;
}

.transparentCard form div input,
.transparentCard form div textarea,
.transparentCard form div select {
  width: 100%;
  border: 2px solid var(--brown-light);
  padding: 0.5rem;
  background-color: inherit;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
  ;
}

.transparentCard form div label {
  font-weight: bold;
  color: #fff;
  background-color: var(--brown-light);
  border-radius: 0 12px 0 12px !important;
  padding: 0.3rem 0.5rem;
}


/* Overlay */
.swal-overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Modal */
.swal-modal {
  text-align: center !important;
  padding: 30px 20px !important;
  background-color: var(--background) !important;
  width: 400px !important;
  border-radius: 20px !important;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

/* Icon */
.swal-icon {
  width: 80px !important;
  height: 80px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 32px !important;
  color: inherit !important;
  margin: 0 auto 20px !important;
  font-weight: bold !important;
  animation: successPulse 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
}

.swal-icon.success {
  background-color: var(--green-light) !important;
}

.swal-icon.error {
  background-color: var(--red-berry) !important;
}

/* Title & Text */
.swal-title {
  color: #fff !important;
  font-size: 1.5rem !important;
  margin-bottom: 8px !important;
}

.swal-text {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 1rem !important;
}

/* Button */
.swal-button {
  border-radius: 10px !important;
  border: none !important;
  padding: 0.5rem !important;
  background-color: #fff !important;
  margin-top: 1rem !important;
  font-size: 14px !important;
  width: 130px !important;
}

/* Yes / Confirm button */
.swal-button--confirm {
  background-color: var(--green-light) !important;
  color: #fff !important;
  border-radius: 12px !important;
  padding: 0.5rem 1.2rem !important;
  font-weight: bold !important;
  transition: all 0.3s ease;
}

.swal-button--confirm:hover {
  background-color: var(--green-dark) !important;
}

/* No / Cancel button */
.swal-button--cancel {
  background-color: var(--red-berry) !important;
  color: #fff !important;
  border-radius: 12px !important;
  padding: 0.5rem 1.2rem !important;
  font-weight: bold !important;
  transition: all 0.3s ease;
}

.swal-button--cancel:hover {
  background-color: var(--red-dark) !important;
}

/* Animations */
@keyframes successPulse {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}