/* LatestComments.module.css */
.transparentCard {
    border: none !important;
    background-color:#fff;
    padding: 1rem;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35),
        inset 0 1px 0 rgba(255, 255, 255, 0.08);
}

.transparentTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1;

}

.transparentTable th,
.transparentTable td {
    padding: 0.5rem !important;
    max-width: 250px;
    min-width: 50px;
}

.transparentTable td {
    cursor: pointer;
}

.transparentCard tbody tr:hover {
    background: rgba(0, 0, 0, 0.1);
}

.transparentTable th {
    border-radius: 0 12px 0 12px !important;
    font-weight: bold !important;
    font-size: 1.2rem;
    color: #fff !important;
    background: var(--brown-light);
    padding-left: 1rem !important;
}