/*** Header ***/
.container_banner {
    position: relative;
    background-color: rgba(247, 251, 246, 0.1);
    z-index: 1;
}

.container_banner::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: var(--background);
    clip-path: polygon(0 100%, 100% 100%, 0 0);
    z-index: -1;
}

.img_container {
    height: 500px;
    margin-left: 6rem;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.caption_container {
    transition: all 400ms ease-in-out;
}

.img_slide {
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 1rem;
    background-color: #fff;
    transition: all 400ms ease-in-out;

}


.img_slide:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

.control {
    width: 10%;
}

.caption_container p {
    font-size: 1rem;
    color: var(--brown-light);
}

.caption_container strong {
    font-size: 4rem;
    color: var(--brown-light) !important;
}

.caption_container h4 {
    font-size: 2rem;
}

.btn {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brown-light);
    font-weight: bold;
    justify-self: center;
    border: var(--border) !important;
    border-radius: var(--border-radius) !important;
    transition: all 400ms ease-in-out;
    margin-bottom: 1rem;
}

.btn:hover {
    border-radius: var(--border-radius-hover) !important;
    border: var(--border-hover) !important;
}