.container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  top: 50%;
  left: 20px;
  transform: translateX(-50%, -50%);
  color: #ffff;
  z-index: 100;

}

.caption a {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
  color: var(--brown-light);
  transition: all 400ms ease-in-out;
}

.caption a:hover {
  border: var(--border-hover);
  border-radius: var(--border-radius-hover);
}