.navbar_brand {
    display: flex;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border: 8px solid var(--brown-light);
    border-radius: 100%;
}

.navbar_brand img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}


.container_content {
    background: linear-gradient(rgba(247, 251, 246, 0.1)),
        url(/images/product-bg.png) left bottom no-repeat;
    background-size: cover;
    padding: 3rem;
    border-radius: 10px;
    margin: 5rem 0;
    color: #fff;
}



.value_box {
    text-align: center;
}

.value_box div {
    border: var(--border);
    border-radius: 100px 100px 0 100px;
}