     .container {
       color: #fff;
       padding: 24px;

     }

     .form_group {
       border-radius: 10px;
     }

     .contact_form {
       display: flex;
       flex-direction: column;
     }

     .contact_form input,
     .contact_form textarea {
       background: #ffff;
       border: 2px solid var(--brown-light);
       border-radius: 12px;
       padding: 10px;
       font-size: 16px;
       font-weight: 400;
       transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
       width: 100%;
       outline: none;
     }

     .contact_form input:focus,
     .contact_form input:valid {
       box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
       color: var(--brown-light);
     }

     .focus_border {
       position: absolute;
       bottom: -7px;
       left: 50%;
       width: 0;
       height: 2px;
       background: var(--brown-light);
       transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
       transform: translateX(-50%);
       border-radius: 2px;
     }


     .contact_info {
       background-color: var(--brown-light);
       color: #fff;
       border-radius: 12px;
       width: 100%;
       height: 400px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
     }


     .contact_info h5 {
       margin-bottom: 15px;
     }


     .social_icon {
       margin: 0;
       padding: 0;
     }

     .social_icon__item {
       list-style: none;
       display: inline-block;
       vertical-align: top;
     }

     .social_icon__item svg {
       background-color: #fff;
       border-radius: 10px;
       font-size: 1.2rem;
       padding: 0.2rem;
       display: block;
       margin: 0 5px;
       text-align: center;
       width: 40px;
       height: 40px;
       line-height: 35px;
       color: var(--brown-light) !important;
       transition: all 0.2s, color 0.2s;
       cursor: pointer;
     }

     .social_icon__item svg:hover {
       background: #fff;
       color: var(--brown-light);
     }

     .social_icon__item span {
       display: block;
     }

     .btn {
       border: var(--border);
       border-radius: var(--border-radius);
       transition: all 400ms ease-in-out;
       padding: 1rem;
       background-color: #fff;
       font-size: 1.2rem;
       color: #7a7575;
       font-weight: bold;
     }

     .btn:hover {
       border-radius: var(--border-radius-hover);
       border: var(--border-hover);
     }