  
.btn {
  display: inline-block;
  width: 200px;
  padding: .5rem 1.5rem;
  border: var(--border);
  border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%; ;
  color: var(--mint);
  background: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.2rem;
  transition: all 400ms ease-in-out;
}

.btn:hover {
  border-radius: var(--border-radius-hover);
  border: var(--border-hover);
}

